<h2>Registro de datos</h2>
<form [formGroup]="form" (submit)="aceptar()" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Valor presente</mat-label>
    <input
      matInput
      type="number"
      placeholder="valorpresente"
      formControlName="valorpresente"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Plazo de tasa efectiva</mat-label>
    <mat-select formControlName="prePlazoDeTasaEfectiva">
      <!--diario, quicenal, mensual, bimestral, trimestral, cuatrimestral, semestral, anual, especial-->
      <mat-option value="1">Diario</mat-option>
      <mat-option value="15">Quincenal</mat-option>
      <mat-option value="30">Mensual</mat-option>
      <mat-option value="60">Bimestral</mat-option>
      <mat-option value="90">Trimestral</mat-option>
      <mat-option value="120">Cuatrimestral</mat-option>
      <mat-option value="180">Semestral</mat-option>
      <mat-option value="360">Anual</mat-option>
      <mat-option value="0">Especial</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Dias en el plazo de T.E.</mat-label>
    <input matInput type="number" formControlName="plazoDeTasaEfectiva" type="number"/>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Tasa efectiva (%)</mat-label>
    <input matInput placeholder="tasaefectiva" formControlName="tasaefectiva" type="number"/>
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-full-width">
    <input
      matInput
      placeholder="Ingrese fechaInicial"
      [matDatepicker]="picker1"
      formControlName="fechaInicial"
    />
    
    <mat-datepicker-toggle
      matIconSuffix
      [for]="picker1"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill" class="example-full-width">
    <input
      matInput
      placeholder="Ingrese fechafin"
      [matDatepicker]="picker2"
      formControlName="fechafin"
    />
    
    <mat-datepicker-toggle
      matIconSuffix
      [for]="picker2"
    ></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <!-- Buttons for actions -->
  <button mat-raised-button color="primary">Aceptar</button>
  <button mat-raised-button color="warn" routerLink="/components/estadodecuenta">
    Cancelar
  </button>
  <p>{{ mensaje }}</p>
</form>
