<h2>Mi estado de cuenta</h2>
<div class="bg-white border-dark-subtle border p-2 rounded-2">
  <table class="w-100">
    <tr>
      <td>Valor actual</td>
      <td>{{ infocontable.valorpresente.toFixed(2) }} u.m.</td>
    </tr>
    <tr>
      <td>Fecha de inicio</td>
      <td>{{ infocontable.fechainicio }}</td>
    </tr>
    <tr>
      <td>Fecha de fin</td>
      <td>{{ infocontable.fechafin }}</td>
    </tr>
    <tr>
      <td>Tasa efectiva</td>
      <td>
        {{ (infocontable.tasaefectiva * 100).toFixed(2) }}% en un plazo de
        {{ infocontable.plazodias }} días
      </td>
    </tr>
    <tr>
      <td>Valor esperado al {{ infocontable.fechafin }}</td>
      <td>{{ infocontable.valorfuturo.toFixed(2) }} u.m.</td>
    </tr>
  </table>
</div>
<div class="py-1"></div>
<div class="bg-white border-dark-subtle border p-2 rounded-2">
  <app-grafico-de-valor-futuro></app-grafico-de-valor-futuro>
</div>
