<div class="d-flex flex-column">
  <mat-toolbar
    color="primary"
    class="fixed-top justify-content-between"
    style="height: 40px"
  >
    <div class="h-100 hover-pointer" [routerLink]="['/']">
      <img
        src="assets/logo.png"
        alt="Auna Logo"
        class="img-fluid h-100 mh-100 py-1 px-2"
      />
      <span class="mat-body-strong">MiConversor</span>
      <span class="mat-body"> v1.0.0 </span>
    </div>
    <div *ngIf="verificar()">
      <div class="d-flex flex-row">
        <div class="d-flex flex-column justify-content-end">
          <div
            class="d-flex justify-content-start flex-column align-items-end p-1"
          >
            <div class="mat-body m-0 p-0" style="font-size: small">
              {{ username }}
            </div>
            <div class="mat-body m-0 p-0" style="font-size: x-small">
              {{ role }}
            </div>
          </div>
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menuSalir">
          <mat-icon class="mat-18">account_box</mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="!verificar() && validarPagina()">
      <button mat-flat-button [routerLink]="['/login']" color="primary">
        Incia sesión
      </button>
      <button mat-flat-button [routerLink]="['/signin']">Registrarse</button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="p-0">
    <mat-sidenav
      *ngIf="verificar()"
      #sidenav
      class="sidenav shadow-sm"
      mode="side"
      opened
      fixedInViewport="true"
      fixedTopGap="40"
    >
      <mat-nav-list
        class="d-flex flex-column justify-content-between p-2"
        style="min-height: calc(100vh - 40px)"
      >
        <div>
          <a
            mat-list-item
            [routerLink]="['/components/editarplandepagos']"
            routerLinkActive="active"
            class="m-0 px-2 py-0"
          >
            <div class="d-flex">
              <mat-icon class="fs-5 my-auto">assignment_turned_in</mat-icon>
              <div class="mat-body">Plan de pagos</div>
            </div>
          </a>
          <a
            mat-list-item
            [routerLink]="['/components/flujodefondos']"
            routerLinkActive="active"
            class="m-0 px-2 py-0"
          >
            <div class="d-flex">
              <mat-icon class="fs-5 my-auto">account_balance</mat-icon>
              <div class="mat-body">Flujo de fondos</div>
            </div>
          </a>
          <a
            mat-list-item
            [routerLink]="['/components/estadodecuenta']"
            routerLinkActive="active"
            class="m-0 px-2 py-0"
          >
            <div class="d-flex">
              <mat-icon class="fs-5 my-auto">account_balance_wallet</mat-icon>
              <div class="mat-body">Estado de cuenta</div>
            </div>
          </a>
          <a
            mat-list-item
            [routerLink]="['/components/convertir']"
            routerLinkActive="active"
            class="m-0 px-2 py-0"
          >
            <div class="d-flex">
              <mat-icon class="fs-5 my-auto">compare_arrows</mat-icon>
              <div class="mat-body">Convertir tasas</div>
            </div>
          </a>
        </div>
        <div *ngIf="role == 'ADMIN'">
          <h5 class="text-center">--- admin tools ---</h5>
          <a
            mat-list-item
            class="m-0 px-2 py-0"
            [matMenuTriggerFor]="menuInfocontable"
          >
            <div class="d-flex flex-row">
              <mat-icon class="fs-5 my-auto">history_edu</mat-icon>
              <div class="mat-body">Infocontable</div>
            </div>
          </a>

          <a
            mat-list-item
            class="m-0 px-2 py-0"
            [matMenuTriggerFor]="menuHistorial"
          >
            <div class="d-flex">
              <mat-icon class="fs-5 my-auto">history</mat-icon>
              <div class="mat-body">Historial</div>
            </div>
          </a>

          <a
            mat-list-item
            class="m-0 px-2 py-0"
            [matMenuTriggerFor]="menuUsers"
          >
            <div class="d-flex">
              <mat-icon class="fs-5 my-auto">person</mat-icon>
              <div class="mat-body">Usuarios</div>
            </div>
          </a>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div style="height: 40px"></div>
      <div class="mainapp px-2"><router-outlet></router-outlet></div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<mat-menu #menuInfocontable="matMenu">
  <button mat-menu-item routerLink="components/Infocontable/nuevo">
    Registrar
  </button>
  <button mat-menu-item routerLink="components/Infocontable">Listar</button>
</mat-menu>

<mat-menu #menuHistorial="matMenu">
  <button mat-menu-item routerLink="components/historial/nuevo">
    Registrar
  </button>
  <button mat-menu-item routerLink="components/historial">Listar</button>
</mat-menu>

<mat-menu #menuUsers="matMenu">
  <button mat-menu-item routerLink="components/users/nuevo">Registrar</button>
  <button mat-menu-item routerLink="components/users">Listar</button>
</mat-menu>

<mat-menu #menuSalir="matMenu">
  <button mat-menu-item routerLink="/" (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
</mat-menu>
